.highlight {
  box-shadow: 1px 2px rgba(72, 2, 153, 0.596);
  transform: translateX(1px) translatey(1px);
  background-image: linear-gradient(
    to right,
    rgb(69, 52, 219) 0%,
    rgb(49, 103, 204) 39%,
    rgb(46, 124, 196) 100%
  );
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input {
  font-size: 17px;
  background-image: linear-gradient(to right, rgb(219, 230, 255) 0%,  rgb(219, 220, 255) 100%);
  box-shadow: 2px 3px rgba(0, 0, 0, 0.103);
  border-color: rgba(170, 176, 194, 0.603);
  font-size: 500;
}

.dateInput {
  width: 150px;
  max-width: 200px; 
}

.wrapper {
  position: relative;
}

.datePickerContainer {
  position: absolute;
  top: -40px; 
  padding-right: 22px;
  right: 0;
  z-index: 1; 
  animation: slideInRight 0.3s ease-out forwards; 
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; 
}

.button1:hover {
  background-image: linear-gradient(
    to right,
    rgb(69, 52, 219) 0%,
    rgb(49, 103, 204) 39%,
    rgb(46, 124, 196) 100%
  );
  box-shadow: 3px 4px rgba(0, 0, 0, 0.17);
}

.button1:active {
  box-shadow: 1px 2px rgba(72, 2, 153, 0.596);
  transform: translateX(1px) translatey(1px);
}

.button1 {
  background-color: #71baff;
  font-weight: 500;
  border: #637df0;
  padding: 10px 20px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.13);
  text-transform: uppercase;
  margin-right: 15px;
  margin-left: 15px;
  width: 100%;
}

.center {
  display: flex;
  justify-content: space-between;
}
