body {
  background: rgb(24, 146, 245);
  background: linear-gradient(
    45deg,
    #29286c 0%,
    rgb(24, 112, 245) 39%,
    rgb(71, 181, 255) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
